@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 222.2 47.4% 45.1%;
    --accent: 35.6 91.7% 58.8%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 89.8%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 222.2 47.4% 14.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222.2 47.4% 14.9%;
    --muted-foreground: 210 40% 63.9%;
    --accent: 35.6 91.7% 58.8%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 222.2 47.4% 14.9%;
    --input: 222.2 47.4% 14.9%;
    --ring: 35.6 91.7% 58.8%;
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
  }
}
@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}